command=/home/psuzn/.i3/i3blocks-contrib/$BLOCK_NAME/./$BLOCK_NAME
separator_block_width=15
markup=none
separator_block_width=10 

[memory]
label=⛁
separator=false
interval=5
separator=true


[cpu_usage]
label=🖳
interval=10
min_width=🖳100.00%
align=left

[temperature]
interval=10
separator=true

[battery]
interval=30

[time]
markup=pango
command=date '+%b %d, <span size="medium" color="#9ccdf9">%I:%M %p</span> |'
interval=5
separator=true
